# Cloudflare Api token for authentication. Must have permissions to edit DNS records.
CloudflareConfig__ApiToken=YOURTOKEN

# The interval of how often the program checks for ip updates (default: 5)
CloudflareConfig__IntervalMinutes=5
# If the program should do a dry run or not (default: false)
CloudflareConfig__DryRun=true
# What ip provider to use (CloudflareTrace, CloudflareGeolocationApi, Ipfy, Icanhazip)
CloudflareConfig__IpProvider=CloudflareTrace

# Optional: Custom URLs for IP providers
# CloudflareConfig__CloudflareTraceUrl=https://one.one.one.one/cdn-cgi/trace
# CloudflareConfig__CloudflareGeolocationApiUrl=https://ipv4-check-perf.radar.cloudflare.com/api/info
# CloudflareConfig__IpfyUrl=https://api.ipify.org
# CloudflareConfig__IcanhazipUrl=https://ipv4.icanhazip.com

# a comma separated list of dns records to update
DnsRecords=example.com,x.example.com