# Cloudflare Api token for authentication. Must have permissions to edit DNS records.
CloudflareConfig__ApiToken=YOURTOKEN
# Cloudflare zone id
CloudflareConfig__ZoneId=YOURZONE

# The interval of how often the program checks for ip updates
CloudflareConfig__IntervalMinutes=5
# If the program should do a dry run or not
CloudflareConfig__DryRun=true
# What ip provider to use
CloudflareConfig__IpProvider=CloudflareTrace

# a comma separated list of dns records to update
DnsRecords=example.com,x.example.com